table {
  border-spacing: 0;
}
td {
  width: 100px;
  height: 100px;
  font-size: 3em;
  vertical-align: middle;
  text-align: center;
}
td:not(:first-child) {
  border-left: 5px solid teal;
}
tr:not(:first-child) td {
  border-top: 5px solid teal;
}